body {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 4rem;
  border-bottom: 1px solid #dddddd;
}
.navbar .logo {
  color: #0075FF;
  font-weight: 600;
  font-size: 1.5rem;
}

.section-home {
  display: flex;
  align-items: center;
  width: 100%;
  margin: auto;
  padding: 3rem;
}
.section-home .home-cta {
  flex: 1;
}
.section-home .home-cta .cta-text {
  color: #0075FF;
  font-weight: 600;
}
.section-home .home-cta .home-title {
  width: 20rem;
  font-size: 4rem;
  margin-bottom: 1.5rem;
  font-weight: 600;
  line-height: 4rem;
}
.section-home .home-cta .home-description {
  font-weight: 600;
  font-size: 1.3rem;
}
.section-home .home-cta .home-img {
  width: 20%;
}

.section-features, .section-onboarding .intro, .section-onboarding .section-benefits, .section-benefits {
  width: 100%;
  margin: auto;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-features .intro, .section-onboarding .intro .intro, .section-onboarding .intro .section-benefits, .section-features .section-benefits, .section-benefits .intro, .section-benefits .section-benefits {
  text-align: center;
}
.section-features .intro h3, .section-onboarding .intro .intro h3, .section-onboarding .intro .section-benefits h3, .section-features .section-benefits h3, .section-benefits .intro h3, .section-benefits .section-benefits h3 {
  font-size: 1.8rem;
  color: #0075FF;
}
.section-features .intro p, .section-onboarding .intro .intro p, .section-onboarding .intro .section-benefits p, .section-features .section-benefits p, .section-benefits .intro p, .section-benefits .section-benefits p {
  font-size: 0.9rem;
  color: #888;
}
.section-features .features, .section-onboarding .intro .features, .section-benefits .features {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.section-features .features .text, .section-onboarding .intro .features .text, .section-benefits .features .text {
  padding: 2rem 0;
  flex: 1;
}
.section-features .features .text .feature, .section-onboarding .intro .features .text .feature, .section-benefits .features .text .feature {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.section-features .features .text .feature .description, .section-onboarding .intro .features .text .feature .description, .section-benefits .features .text .feature .description {
  margin-left: 1rem;
  max-width: 30rem;
}
.section-features .features .text .feature .description .description-title, .section-onboarding .intro .features .text .feature .description .description-title, .section-benefits .features .text .feature .description .description-title {
  font-size: 1.15rem;
}
.section-features .features .text .feature .description .description-text, .section-onboarding .intro .features .text .feature .description .description-text, .section-benefits .features .text .feature .description .description-text {
  font-size: 1rem;
}
.section-features .features .image img, .section-onboarding .intro .features .image img, .section-benefits .features .image img {
  max-width: 20rem;
}

.section-benefits {
  border-top: 1px solid #ddd;
}
.section-benefits .benefit-cards {
  width: 100%;
  padding: 0 2rem 2rem 2rem;
}

.section-kpis {
  width: 100%;
  background-color: #0075FF;
  color: white;
  padding: 4rem;
}
.section-kpis .kpi {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-kpis .kpi .number {
  font-size: 3.5rem;
  font-weight: 600;
}
.section-kpis .kpi .desc {
  font-size: 0.9rem;
  color: #ffffff;
}

.section-onboarding .steps {
  padding: 0 7rem 5rem 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-onboarding .steps .step-separator {
  flex: 1;
  border-top: 2px solid #ddd;
  margin: 0 1rem;
}

.section-footer-cta {
  background-color: #F5F8FF;
  padding: 5rem;
  background-image: url("../assets/img/bg.png");
  background-repeat: no-repeat;
  background-position: 100%;
}
.section-footer-cta .footer-cta {
  width: 50%;
}
.section-footer-cta .footer-cta .cta-title {
  font-size: 2rem;
}
.section-footer-cta .footer-cta .cta-description {
  font-size: 1.1rem;
}

@media (max-width: 768px) {
  .section-onboarding .steps {
    flex-direction: column;
  }
  .section-onboarding .steps .icon-desc .title {
    text-align: center;
  }
  .section-footer-cta {
    background-image: none;
  }
  .section-footer-cta .footer-cta {
    width: 100%;
    text-align: center;
  }
  .section-benefits .intro, .section-benefits .section-benefits {
    text-align: center;
  }
  .section-benefits .intro h3, .section-benefits .section-benefits h3 {
    font-size: 2rem;
  }
  .section-features .intro h3, .section-benefits .intro h3, .section-onboarding .intro .intro h3, .section-features .section-benefits h3, .section-benefits .section-benefits h3, .section-onboarding .intro .section-benefits h3 {
    font-size: 2rem;
  }
  .section-features .intro p, .section-benefits .intro p, .section-onboarding .intro .intro p, .section-features .section-benefits p, .section-benefits .section-benefits p, .section-onboarding .intro .section-benefits p {
    font-size: 1rem;
  }
}
.btn-main, .btn-main-small {
  padding: 0.25rem 1.5rem;
  border-radius: 0.25rem;
  background-color: #0075FF;
  color: white;
  border: solid 1px #0075FF;
}
.btn-main:hover, .btn-main-small:hover {
  background-color: white;
  color: #0075FF;
  border: solid 1px #0075FF;
}
.btn-main-small {
  font-size: 0.75rem;
  padding: 0.1rem 1rem;
}

.btn-secondary, .btn-secondary-small {
  padding: 0.25rem 1.5rem;
  border-radius: 0.25rem;
  color: #000000;
  background-color: transparent;
  border: none;
}
.btn-secondary:hover, .btn-secondary-small:hover {
  color: #888;
  border: none;
}
.btn-secondary-small {
  font-size: 0.75rem;
  padding: 0.1rem 1rem;
}

.main-menu {
  margin-bottom: 0;
}
.main-menu li {
  font-size: 1rem;
  display: inline;
  list-style: none;
  margin-right: 0.7rem;
}
.main-menu li:nth-last-child {
  margin-right: 0;
}
.main-menu li a {
  color: #000;
  text-decoration: none;
}
.main-menu li a:hover {
  text-decoration: underline;
}

.icon-small i {
  font-size: 1.25rem;
  color: #0075FF;
  border-radius: 50%;
  padding: 0.4rem 0.65rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2509803922);
}

.icon-benefit {
  color: #0075FF;
  font-size: 7rem;
}

.icon-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.icon-description .icon {
  color: #0075FF;
  font-size: 10rem;
  padding: 0;
}
.icon-description .title {
  margin-top: -2rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.benefit {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.benefit .description .title {
  font-size: 1.4rem;
}
.benefit .description .text {
  color: #888888;
  font-weight: 400;
}
.benefit .cta {
  color: #0075FF;
  margin-top: 3rem;
  font-weight: 600;
  font-size: 0.9rem;
}

/*# sourceMappingURL=styles.css.map */
