.main-menu {
    margin-bottom: 0;
    li {
        font-size: 1rem;
        display: inline;
        list-style: none;
        margin-right: 0.7rem;

        &:nth-last-child {
            margin-right: 0;
        }

        a {
            color: #000;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}