.btn {
    padding: 10px;
}

.btn::before {
    content: 'Pasa por encima';
}

.btn:hover {
    background-color: green;
    color: white;
}

.btn:hover::before {
    content: '';
}

.btn:hover::after {
    content: '¡Hecho!';
}
